<link rel="stylesheet" href="/css/_header.css">
<nav style="height:50px;" class="navbar navbar-light  navbar-expand-sm cl fixed-top">
    <a href="/" class="navbar-brand brand-name">Codeial</a>
    <ul class="navbar-nav ml-auto list">
        <%if(locals.user){%>
            <li class="nav-item again-list">
                <li class="nav-item again-list">
                    <a class="nav-link name" href="/users/profile/<%=user.id%>">
                        <%=user.name%>
                    </a>
                </li>
            </li>
            <li class="nav-item again-list">
                <a class="nav-link name" href="/users/sign-out">Sign Out</a>
            </li>




            <%}else{%>

                <li class="nav-item again-list">
                    <a class="nav-link  name" href="/users/sign-up">Sign Up</a>
                </li>
                <li class="nav-item again-list">
                    <a class="nav-link name" href="/users/sign-in">Sign In</a>
                </li>
                <%}%>

    </ul>
</nav>