<link rel="stylesheet" href="/css/home.css">

<h2 id="name">Codeial Homepage</h2>
<section id="post" class="container">
    <h4>Post</h4>
    <form action="" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="type here..."></textarea>
        <input type="submit" value="Post">
    </form>
</section>