<link rel="stylesheet" href="/css/home.css">
<center style="margin-top:60px;"><h2>Codeial Homepage</h2></center>
<div class="home-container">
    <div class="post2">
            <h4>Friends List</h4>
        <%for(friend of user_list){%>
            <ul>
                <li><a href="users/profile/<%=friend.id%>"><%=friend.name%></a></li>
            </ul>
            
            <%}%>
        </div>






<div class="post1">
<div id="create-post">
        <h4>Post</h4>
        <%if(locals.user){%>
            <form action="/post/create" id="new-post-form" method="POST">
                <textarea name="content" cols="25" rows="2" placeholder="type here..."></textarea>
                <input type="submit" value="Post">
            </form>
    <%}%>

        <ul>
            <%- include("_post")%>
        </ul>
<div>
</div>

</div>

