<link rel="stylesheet" href="/css/user_profile.css">




<div class="container c1">
    <h1>Codeial Profile</h1>
    <p>
        <%=user.name%>
    </p>
    <p>
        <%=user.email%>
    </p>
</div>