<link rel="stylesheet" href="/css/user_sign_in.css">
<div class="container c3">
    <h1>Sign In</h1>
    <form action="/users/create_session" method="POST">
        <input type="email" placeholder="Email" name="email" required>
        <input type="password" placeholder="Password" name="password" required>
        <input type="submit" value="Sign-in">
    </form>
    <p>
        <a href="/users/auth/google">Google Sign In/Sign Up</a>
    </p>
</div>