<div style="color:yellow;background-color:steelblue;">
    <p>Hi <%=comment.user.name%></p>
    <br>
    <br>
    <p>Your comment <strong><%=comment.content%> just got published</strong></p>
    <p>Thanks</p>
</div>