 .cl {
     background-color: steelblue;
     font-weight: bold;
     font-family: sans-serif;
     .brand-name {
         color: white;
         font-size: 1.4rem;
     }
     .list {
         .again-list {
             .name {
                 color: white;
             }
         }
     }
 }