

.home-container{
    margin-top:30px;
    display: flex;
    justify-content:space-around;
    .post1{
    }
    .post2{

    }
}

@media(max-width:578px) {
    .home-container{
        .post1{
            margin-left: 10px;


    // #name {
    //     position: absolute;
    //     top: 10.5%;
    // }
    #create-post {
        position: absolute;;
        top: 160px;
    }
}
.post2{

}
}
}