#name {
  position: absolute;
  top: 9%;
}

#post {
  position: relative;
  top: 100px;
}

@media (max-width: 578px) {
  #name {
    position: absolute;
    top: 10.5%;
  }
  #post {
    position: relative;
    top: 130px;
  }
}
