.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-container .post1 {
  display: flex;
  flex-direction: column;
}

.home-container .post1 #create-post {
  margin-left: 3%;
}

.home-container .post2 {
  border-left: 1px solid lightgrey;
  margin-right: 10%;
}
